@import './colorset';

.accountContainer {
  width: 100%;
  height: 100%;
  padding: {
    left: 1.125rem;
    top: 5rem;
    right: 1.125rem;
  }

  h2.title {
    margin-bottom: 0.875rem;
    font: {
      size: 1.75rem;
      weight: 500;
    }
  }

  .welcomeMessageWrapper {
    p {
      margin-bottom: 0.25rem;
      color: $gray-500;
      letter-spacing: -1px;
      font-size: 0.875rem;
    }
  }

  .accountForm {
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;

    .submitButton {
      width: 100%;
      height: 3rem;
      font-size: 0.875rem;
      border: 1px solid $line-1;
      border-radius: 3px;
    }
  }

  .link {
    display: inline-block;
    margin-top: 1rem;
    color: $gray-600;
    font-size: 0.875rem;
    text-decoration: underline;
  }
}

.inputWrapper {
  position: relative;
  margin-bottom: 2.3rem;

  .label {
    position: absolute;
    left: 1rem;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: $gray-500;
  }

  .input {
    width: 100%;
    height: 3rem;
    padding: 0.875rem;
    border: 1px solid $line-1;
    border-radius: 3px;

    &::placeholder {
      color: $gray-500;
    }

    &:focus,
    &:-webkit-autofill,
    &:not(:placeholder-shown) {
      & + .label {
        font-size: 0.785rem;
        transform: translate(-1rem, -2.25rem);
      }
    }
  }
}
